
  <div class="container-fluid col-xs-12">
   <h1><%= link_to "View All Artists", artists_path  %> </h1>
     <br>
      <%= form_tag('/artists', method: "get") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search by Name" %>
        <%= submit_tag("Search by Artist Name") %>
      <% end %>
      <br>
  </div>

  <br>
  <%= render partial: "artist_mini_profile", collection: @artists, as: :artist %>
  <br>

 



