<br>
<br>
<h1 class><%= "#{@artist.name}'s Profile" %></h1>

<div class="jumbotron">
    <div class=" container-fluid col-xs-5">
        <img src=<%="#{@artist.img_link}"%>>
        <!-- <img src=<%="#{@artist.img_link}"%> width="200" height="200">   -->
    </div>
    <div class=" container-fluid col-xs-7">
        <h3>In a few words...</h3>
        <p><%= @artist.abstract %></p><br>
        <br>
        <h3>From:</h3>
        <p> <%="#{@artist.city}, #{@artist.state}" %></p>
    </div>
     <div class=" container-fluid col-xs-12">
      <h3>Bio:</h3>
        <p><%= @artist.bio %></p>
        <br>
    </div>
    <% if validate_self(@artist) %>
      <div class="text-right">
        <%= link_to "Edit Profile", edit_artist_path(@artist) , class: "btn btn-primary"%>
      </div>
    <% end%>
</div>


<h3>Collections:</h3>

  <% if validate_self(@artist) %>
    <%= link_to "Add New Collection", new_image_collection_path ,class: "btn btn-primary"%>
  <% end%>
<br>
<br>
<%= render partial: "image_collections/image_collection_mini_profile", collection: @artist.image_collections, as: :image_collection %>

