<h1><%= "#{@artist.name}'s Profile" %></h1>
<h3>In a few words...</h3>
<p><%= @artist.abstract %></p><br>

<h3>Bio:</h3>
<p><%= @artist.bio %></p><br>
<%= link_to "edit artist", edit_artist_path(@artist) %>

<% @artist.image_collections.each do |collection| %>
  <p><%= link_to "#{collection}.name", collection %></p>
<% end %>
