<h1> <%=@image_collection.name %> </h1>

<%= form_for (@image_collection) , method:"put" do |f| %>

<%=f.label :name ,"Collection Name"%>
<%=f.text_field :name %>

<h3> Select additional media from other collections </h3>

<%= f.collection_check_boxes :media, Medium.all.select {|m| m.artist== @image_collection.artist}, :id, :name %><br>

  <%i=0%>

    <br>
<h3> Edit current media in your collection</h3>
  <%= f.fields_for :media do |medium| %>
    <% i+= 1%>
    <h5><%= "Medium Number #{i}:" %></h5>
    <%= medium.label :name %>
    <%= medium.text_field :name %>
    <br>
    <%= medium.label :genre %>
    <%= medium.text_field :genre %>
    <br>
  <%end%>
<br>

<%=f.submit %>

<% end %>
