<% if flash[:message] %>
  <div class="alert alert-danger" role="alert">
     <class="alert-link"><%= flash[:message] %></a>
  </div>
<% end %>

<br>
<br>

<div class="jumbotron">
 <h2>The <%=@image_collection.name %> Collection</h2>
    <div class="container">
      <img src=<%="#{@image_collection.img_link}"%> height="350px" width= "350px">
  <br>
    <h4>By: <%=link_to "#{@image_collection.artist.name}", artist_path(@image_collection.artist) %></h4>
  </div>

    <div class= "container-fluid col-xs-12 text-right">
      <% if validate_self(@image_collection.artist) %>
        <%= link_to "Edit This Collection", edit_image_collection_path(@image_collection) %>
      <% elsif session[:fan_id] %>
          <%=form_tag carts_add_item_path do  %>
            <%= hidden_field_tag "collection_id" , @image_collection.id %>
            <%= submit_tag "Add collection to favorites" %>
          <% end %>
        <% end %>
    </div>
   
</div>

 <div class="container-fluid col-xs-12">
  <br>
  <h3>Items In The Collection:</h3>
  <br>

  <%= render partial: "media/medium_mini_profile", collection: @image_collection.media, as: :medium %>

</div>



