<div class="row">

   <div class="col-xs-4" style="min-height:360; max-height:360;">
    <div class="panel panel-default">
    <div class="panel-heading">
    <h2>Artist:</h2>
      <h3 class="panel-title"><%= link_to "#{Artist.recently_favorited(1).first.name} - #{Artist.recently_favorited(1).first.artist_type}", artist_path(Artist.recently_favorited(1).first
  ) %></h3>
    </div>
   <div class="panel-body">
    <%= link_to image_tag("#{Artist.recently_favorited(1).first
  .img_link}",height: "200px"), artist_path(Artist.recently_favorited(1).first
  ) %>
      <br>
      <p>Abstract <%=Artist.recently_favorited(1).first
  .abstract %> </p>
    </div>
    </div>
  </div>

  <div class="col-xs-4" style="min-height:360; max-height:360;">
    <div class="panel panel-default">
    <div class="panel-heading">
    <h2>Medium:</h2>
      <h3 class="panel-title"><%= link_to "#{Medium.recently_favorited(1).first.name}", medium_path(Medium.recently_favorited(1).first) %></h3>
    </div>
    <div class="panel-body">
      <%= link_to image_tag("#{Medium.recently_favorited(1).first.img_link}",height: "200px"), medium_path(Medium.recently_favorited(1).first) %><br>
      <p>Created by: <%= link_to "#{Medium.recently_favorited(1).first.image_collection.artist.name}", artist_path(Medium.recently_favorited(1).first.artist) %></p>
      <p>Genre: <%= Medium.recently_favorited(1).first.genre %></p>
      <p>Collection: <%= link_to "#{Medium.recently_favorited(1).first.image_collection.name}", image_collection_path(Medium.recently_favorited(1).first.image_collection)%> </p>
    </div>
  </div>
  </div>


  <div class="col-xs-4" style="min-height:360; max-height:360;">
    <div class="panel panel-default">
    <div class="panel-heading">
    <h2>Collection:</h2>
      <h3 class="panel-title"><%= link_to "#{ImageCollection.recently_favorited(1).first.name}", image_collection_path(ImageCollection.recently_favorited(1).first) %></h3>
    </div>
    <div class="panel-body">
      <%= link_to image_tag("#{ImageCollection.recently_favorited(1).first.img_link}",height: "200px"), image_collection_path(ImageCollection.recently_favorited(1).first) %><br>
      <p>Created by: <%= link_to "#{ImageCollection.recently_favorited(1).first.artist.name}", artist_path(ImageCollection.recently_favorited(1).first.artist) %></p>
    </div>
  </div>

 </div>
 </div>
