<div class="container-fluid col-xs-12">
  <h1>Recently Added </h1>
    <br>
      <%= render  "recently_added" %>
    <br>
</div>

<br>

<div class=" container-fluid col-xs-12">
  <h1>Recently Liked</h1>
    <br>
      <%= render  "recently_liked" %>
    <br>
</div>

<div class="container-fluid col-xs-12">
  <h1>Most Popular Artists</h1>
</div>

 <%= render partial: "home/search_filter_bar", locals: {type: Artist.new } %>


  <div class="container-fluid col-xs-12"> 
    <%= render partial: "artists/artist_mini_profile", collection: Artist.most_favorited_artist(6), as: :artist %>
  </div>

<div class="container-fluid col-xs-12">
  <h1>Most Popular Media</h1>
</div>

 <%= render partial: "home/search_filter_bar", locals: {type: Medium.new } %>

    <%= render partial: "media/medium_mini_profile", collection: Medium.most_favorited_media(6), as: :medium %>

<% if current_fan && !current_fan.cart.items.empty? %>
<div class="container-fluid col-xs-12">
  <h1>Recommended Media For You</h1>
</div>

        <%= render partial: "media/medium_mini_profile", collection: Recommendation.recommended_media(current_fan,3), as: :medium %>

<% end %>

