<%= form_for @fan do |f| %>
<h1> Please edit your information as needed: </h1>
<p><%= f.label :name %></p>
<p><%= f.text_field :name %></p>
<p><%= f.label :bio %></p>
<p><%= f.text_field :bio %></p>
<p><%= f.submit %></p>
<% end %>


