<% if flash.now[:message] %>
<div class="alert alert-danger" role="alert">
  <class="alert-link"><%= flash.now[:message] %></a>
</div>
<% end %>


<%= form_for @fan do |f| %>
  <h1> Welcome! Please add the below information to get started: </h1>

  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :username %></p>
  <p><%= f.text_field :username %></p>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p><br>

  <p><%= f.label "Confirm Password: " %></p>
  <p><%= f.password_field :password_confirmation %></p><br><br>

  <p><%= f.label "Where are you from?" %><br>
    <%= f.text_field :city, placeholder: 'city' %><%= f.text_field :state, placeholder: 'state' %></p>

  <p><%= f.label :bio %></p>
  <p><%= f.text_field :bio %></p>

  <p><%= f.label "Include a Link for your Profile Picture" %></p>
  <p><%= f.text_field :img_link %></p>

  <p><%= f.submit %></p>
<% end %>
