<%= render partial: "layouts/profile_row", locals: {counter: medium_iteration.index} %>

<div class="col-xs-4 " style="min-height:360; max-height:360;">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to "#{medium.name}", medium_path(medium) %></h3>
    </div>
    <div class="panel-body">
      <%= link_to image_tag("#{medium.img_link}",height: "200px"), medium_path(medium) %><br>
      <p>Created by: <%= link_to "#{medium.image_collection.artist.name}", artist_path(medium.artist) %></p>
      <p>Genre: <%= medium.genre %></p>
      <p>Collection: <%= link_to "#{medium.image_collection.name}", image_collection_path(medium.image_collection)%> </p>
    </div>
  </div>

 </div>

  <%  if (medium_iteration.index+1)%3==0 && medium_iteration.index != 0 %>
    </div> 
  <% end %>







