<div class="panel panel-default col-xs-4">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "#{medium.name}", medium_path(medium) %></h3>
  </div>
  <div class="panel-body">
    <%= link_to image_tag("#{medium.img_link}"), medium_path(medium) %><br>
    <p>Created by: <%= link_to "#{medium.image_collection.artist.name}", artist_path(medium.artist) %></p>
    <p>Genre: <%= medium.genre %></p>
    <p>Collection: <%= link_to "#{medium.image_collection.name}", image_collection_path(medium.image_collection)%> </p>
  </div>
</div>








   



