<!DOCTYPE html>
<html>
  <head>

    <title>Artistbase</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/">Home</a></li>
            <!-- If logged in as a user or an artist show logout option and relavant show pages -->
        <% if session[:fan_id] || session[:artist_id] %>
            <% if session[:fan_id] %>
              <li role="presentation" class="active"><a href=<%="#{fan_path(session[:fan_id])}"%> >Profile</a></li>
              <li role="presentation" class="active"><a href=<%="#{cart_path(Fan.find(session[:fan_id]).cart)}"%>>My Favorites</a></li>
            <% else %>
              <li role="presentation" class="active"><a href=<%= artist_path(session[:artist_id])%>>Profile</a></li>
            <% end %>
          <li role="presentation" class="active"><%= link_to "Logout", "/logout", method: :post %></li>
        <!-- else show login or sign up options -->
        <% else %>
          <li role="presentation" class="active"><a href="/login">Login</a></li>
          <li role="presentation" class="active">Sign up: </li>
          <li role="presentation" class="active"><a href=<%= new_artist_path %> >Artist</a></li>
          <li role="presentation" class="active"><a href=<%= new_fan_path %> >Fan</a></li>
        <% end %>
      </ul>
    <%= yield %>

    </div>
  </body>
</html>
