<!DOCTYPE html>
<html>
  <head>

    <title>ArtistBase</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-pills ">
        <li role="presentation" class="active"><a href="/">Home</a></li>
            <!-- If logged in as a user or an artist show logout option and relavant show pages -->
        <% if logged_in? %>
            <% if current_fan %>
              <li role="presentation" class="active"><a href=<%="#{fan_path(session[:fan_id])}"%> >Profile</a></li>
              <li role="presentation" class="active"><a href=<%="#{cart_path(Fan.find(session[:fan_id]).cart)}"%>>My Favorites</a></li>

              <li role="presentation" class="active"><a href=<%= recommendations_path %>>My Recommendations</a></li>
            <% else %>
              <li role="presentation" class="active"><a href=<%= artist_path(session[:artist_id])%>>Profile</a></li>
            <% end %>
          <li role="presentation" class="active"><%= link_to "Logout", "/logout", method: :post %></li>
        <!-- else show login or sign up options -->
        <% else %>
          <li role="presentation" class="active"><a href="/login">Login</a></li>
          <p class="navbar-text navbar-right">Not a member? Sign up here:
          <a href=<%= new_artist_path %> >Artist</a> /
         <a href=<%= new_fan_path %> >Fan</a></p>
        <% end %>
        <li role="presentation" class="active"><a href=<%= artists_path%>>All Artists</a></li>
        <li role="presentation" class="active"><a href=<%= media_path%>>All Media</a></li>

      </ul>
    <%= yield %>

    </div>
  </body>
</html>
